#calculator {
    height: 60vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35vh;
    margin-left: 30vw;
}

#output {
    height: 20%;
    width: 100%;
    background-color: lightgray;
}